.slide img {
  width: auto;
  height: 225px;
  max-height: 225px;
}
.carousel {
  width: auto;
  height: 500px !important;
}

.carousel-inner > .item > img {
  width: auto;
  height: 500px !important;
}
w-100 {
  width: 100% !important;
  height: 75vh;
}
